<div id="map"></div>
<map-control name='Test' [configs]="configs">
  <div style="color: #fff; font-weight: bold;">
    <select id="layerSel" (change)="handleChange($event.target.value)">
      <option value="kmlOld">Older KML\KMZ</option>
      <option value="kmlConfig">Configurable KML\KMZ</option>
      <option value="geojson">GeoJSON</option>
    </select>
  </div>
  <map-control name='Test' [configs]="configs">
    <div style="color: #fff; font-weight: bold;">
      <select id="baseLayerSel" (change)="handleBaseLayerChange($event.target.value)">
        <option value="embedded">Embedded</option>
        <option value="online">Online</option>
      </select>
    </div>
  </map-control>
